body {
  background-color:pink;
}

.red {
  color:red; 
}

.arial {
  font-family:Arial, Helvetica, sans-serif;
}

.fantasy {
  font-family:fantasy;
  
}

.italics {
  font-style:italic;
}

.green {
  color:green;
}

.green-courier {
  font-family:'Courier New', Courier, monospace;
  color:green;

  font-style: bold;
}

.center {
  text-align:center;
}

.align {
  text-align:center;
}

.padding{
  padding-left: 20%;
}

h1 {
  color: hotpink;
}

.size-25 {
  font-size:25px;
}

.size-percent {
  font-size:500%;
}

.orange {
  color:orange;
}
