body {
  background-color:pink;
}

.red {
  color:red; 
}

.arial {
  font-family:Arial, Helvetica, sans-serif;
}

.fantasy {
  font-family:fantasy;
}

.green-courier {
  font-family:'Courier New', Courier, monospace;
  color:green;
}

.center {
  text-align:center;
}

.align {
  text-align:center;
}

.padding{
  padding-left: 20%;
}

h1 {
  color: hotpink;
}

